<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand">LaSallians’ Grade Calculator</a>
      <!-- For collapsable toggler when window is smaller -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <a class="navbar-toggler-icon" href=""></a>
      </button>
      <!-- Navbar items -->
      <div class="collapse navbar-collapse" id="navbarToggler">
        <diiv class="navbar-nav">
            <a class="nav-link first active" id="grade" aria-current="page" href="../index.html">Grade</a>
            <a class="nav-link" id="gpa" href="../gpa.html">GPA</a>
            <a class="nav-link" id="cgpa" href="">CGPA</a>
            <a class="nav-link" id="target-gpa" href="">Target GPA</a>
            <a class="nav-link" id="json" href="">Upload/Download</a>
        </di>
      </div>
    </div>
  </nav>