/* General Stylesheets containing styles for all pages & color scheme */
:root {
    --ls-green: #087830;
    --slightly-bright-green: #0AA040;
    --bright-green-highlight: #0edd58;
    --highlight: #b6face;
    --pale-green: rgb(228, 253, 237);
    --white-green: #F3FEF7;
    --light-grey: #dee2e6;
    --body-top-padding: 4.5rem;
}
::selection {  /* Change highlight color */
    background: var(--highlight);
}

body {
    padding-top: var(--body-top-padding);
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--white-green);
}
h1 {
    color: var(--ls-green);
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: var(--slightly-bright-green);
}

/* Font style & weights */
.title {
    font-size: 1.6rem;
    font-weight: bold;
}
.subtitle {
    font-size: 1.4rem;
    font-weight: bold;
}
.mini {
    font-size: 16px;
    font-weight: bold;
}

/* bootstrap mark / highlight color */
.mark {
    background-color: #b6face;
}

/* navbar styles */
@media screen and (min-width: 992px) {  
    /* when browser's width is at least 992px wide */
    .navbar {
        padding: 0;
    }
    .navbar-brand {
        padding: auto;
        padding-right: 5px;
    }
    .nav-link {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
@media screen and (max-width: 991px) { 
     /* when browser's width is less than or equal to 991px */
    .nav-link.first {
        margin-top: 10px;
    }
}
.navbar {
    background-color: var(--ls-green);
}
.navbar-brand {
    font-size: 1.5rem;
}
.navbar-brand, .nav-link {
    color: var(--pale-green);
    font-weight: 600;
}
.navbar-brand:hover {
    color: var(--pale-green);
    text-shadow: 1px 4px 5px black;
}
.navbar-brand.active {
    color: white;
    text-shadow: 1px 4px 5px black;
}
.nav-link:hover {
    color: var(--pale-green);
    background-color: var(--slightly-bright-green);
}
.nav-link.active {
    font-weight: bolder;
    background-color: var(--bright-green-highlight);
}
/* navbar toggler */
.navbar-toggler {
    border-color: var(--pale-green);
    border-width: 2px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(228, 253, 237, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
}
.navbar-toggler:hover {
    box-shadow: 0px 0px 1px 1px var(--pale-green);
}

/* Header & help button */
.header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.header h1 {
    margin-right: 1rem;
    margin-bottom: 0px;
}
.header a {
    color: var(--ls-green);
}
.header i {
    font-size: 14px;
}
.header a:hover {
    color: var(--slightly-bright-green);
}

/* help modal */
.modal-content {
    background-color: var(--white-green);
    border-color: var(--pale-green);
}
.modal-header {
    color: var(--ls-green);
}
.modal-body {
    color: black;
}

/* Table container */
.table-container {
    border-style: solid;
    border-color: var(--light-grey);
    border-width: 1px;
    border-radius: 10px;
    padding: 1rem 1rem;
}


/* Table */
.table.pad-less>:not(caption)>*>* {  /* table padding between cells */
    padding: 0.25rem 0.35rem;
}
table{
    /* Render table faster with fixed width based on the first row; problematic w/ small screens */
    /* table-layout: fixed;   */
}
th, td {
    vertical-align: middle;  /* vertically align text in cells center */
}

/* Forms */
.form-control:focus {
    border-width: 1px;
    border-color: var(--slightly-bright-green);
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    padding: .375rem .75rem;
}
table .form-control {
    background-color: transparent;
    border-width: 0px;
    padding: 0;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: ease-in;
}
table .form-control:focus {
    padding: .375rem .65rem;
    margin: 5px 0;
    cursor: text;
}


