/* General Stylesheets containing styles for all pages & color scheme */
:root {
    --ls-green: #087830;
    --slightly-bright-green: #0AA040;
    --bright-green-highlight: #0edd58;
    --pale-green: rgb(228, 253, 237);
    --white-green: #F3FEF7;
}

body {
    padding-top: 4.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--white-green);
}
h1 {
    color: var(--ls-green);
}

/* Font style & weights */
.title {
    font-size: 1.6rem;
    font-weight: bold;
}
.subtitle {
    font-size: 1.2rem;
    font-weight: bold;
}
.mini {
    font-size: 16px;
    font-weight: bold;
}


/* navbar styles */
@media screen and (min-width: 992px) {  
    /* when browser's width is at least 992px wide */
    .navbar {
        padding: 0;
    }
    .navbar-brand {
        padding: auto;
        padding-right: 5px;
    }
    .nav-link {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
@media screen and (max-width: 991px) {  
    .nav-link.first {
        margin-top: 10px;
    }
}
.navbar {
    background-color: var(--ls-green);
}
.navbar-brand {
    font-size: 1.5rem;
}
.navbar-brand, .nav-link {
    color: var(--pale-green);
    font-weight: 600;
}
.navbar-brand:hover {
    color: var(--pale-green);
    text-shadow: 1px 4px 5px black;
}
.navbar-brand.active {
    color: white;
    text-shadow: 1px 4px 5px black;
}
.nav-link:hover {
    color: var(--pale-green);
    background-color: var(--slightly-bright-green);
}
.nav-link.active {
    font-weight: bolder;
    background-color: var(--bright-green-highlight);
}
/* navbar toggler */
.navbar-toggler {
    border-color: var(--pale-green);
    border-width: 2px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(228, 253, 237, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
}
.navbar-toggler:hover {
    box-shadow: 0px 0px 1px 1px var(--pale-green);
}

/* Header & help button */
.header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.header h1 {
    margin-right: 1rem;
    margin-bottom: 0px;
}
.header a {
    color: var(--ls-green);
    text-decoration: none;
}
.header i {
    font-size: 14px;
}
.header a:hover {
    color: var(--slightly-bright-green);
}

/* help modal */
.modal-content {
    background-color: var(--white-green);
    border-color: var(--pale-green);
}
.modal-header {
    color: var(--ls-green);
}
.modal-body {
    color: black;
}

