.table-container {
  box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1),
    0 11px 6px -7px rgba(43, 43, 43, 0.1);
}

@media screen and (max-width: 900px) {
  .table-container {
    width: 100%;
  }
}

table {
  table-layout: fixed;
}
